node_modules
dist
test-docker
wpconfig/**/*
wp.settings.ts
.env
.env*
example.ts
.npmrc
ngrok.yml
**/certs/
examples/keycloak/traefik
**/.DS_Store
.vscode
.ssl
secrets.db
ssl-certs
_wp
claude_desktop_config.json
.claude
examples.org
